# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C developer
*.so

# File for PyPI
*.egg-info/
dist/
build/

# IDE config
.idea/
.spyderproject
.ropeproject

# Python env
.venv/
venv/
.env
.python-version

# save the test data
/data/

# ignore the doc examples files
/docs/auto_examples/images
/docs/auto_examples/*.ipynb
/docs/auto_examples/*.py
/docs/auto_examples/*.zip
/docs/auto_examples/*.json
/docs/auto_examples/*.md5
