accelerate==1.1.1
deepspeed==0.16.2
transformers==4.35.2
einops==0.8.0
local-attention==1.9.15
reformer-pytorch==1.4.4
patool==1.12
scikit-learn==1.2.2
sktime==0.16.1
scipy==1.14.1
matplotlib==3.9.2
numpy==1.24.4
pandas==1.5.3
sympy==1.11.1
torch==2.0.1
tqdm>=4.64.1
colorama==0.4.6
s2generator==0.0.3
